# Only handle USB events
SUBSYSTEM!="usb", GOTO="hsm_rule_end"
ACTION!="add", GOTO="hsm_rule_end"

ATTR{idVendor}=="{{ step_hsm_vendor_id }}", ATTR{idProduct}=="{{ step_hsm_product_id }}", \
  ENV{ID_SERIAL_SHORT}=="{{ step_hsm_serial }}", \
  ENV{ID_SMARTCARD_READER}="1", \
  ENV{ID_SMARTCARD_READER_DRIVER}="gnupg", \
  GROUP="{{ _step_group }}", MODE="0660"

LABEL="hsm_rule_end"
