---
- name: Verify that all required variables are set
  when: vars[item] is not defined
  become: false
  delegate_to: localhost
  ansible.builtin.fail:
    msg: >
      Missing required variable: {{ item }}
  loop:
    - step_hsm_serial
    - step_hsm_vendor_id
    - step_hsm_product_id
