---
- name: Reload the user-level systemd daemon
  become: true
  become_user: "{{ _step_user }}"
  environment:
    XDG_RUNTIME_DIR: /run/user/{{ _step_uid }}
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ _step_uid }}/bus"
  ansible.builtin.command:
    argv:
      - systemctl
      - --user
      - daemon-reload
  changed_when: false

- name: Restart the p11-kit-server target
  become: true
  become_user: "{{ _step_user }}"
  environment:
    XDG_RUNTIME_DIR: /run/user/{{ _step_uid }}
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ _step_uid }}/bus"
  ansible.builtin.systemd_service:
    state: restarted
    scope: user
    name: "p11-kit-server@{{ _step_instance }}.target"

- name: Restart step-ca quadlet service
  become: true
  become_user: "{{ _step_user }}"
  environment:
    XDG_RUNTIME_DIR: /run/user/{{ _step_uid }}
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ _step_uid }}/bus"
  ansible.builtin.systemd_service:
    state: restarted
    scope: user
    name: "step-ca-p11-kit@{{ _step_instance }}.service"
