---
- name: Ensure secret state directory exists
  become: true
  ansible.builtin.file:
    state: directory
    path: "{{ __step_ca_secret_state_dir }}"
    owner: "{{ _step_user }}"
    group: "{{ _step_group }}"
    mode: "0700"

- name: Ensure podman secret for HSM PIN exists
  ansible.builtin.include_tasks: _ensure_prompted_secret.yaml
  vars:
    _step_ca_prompted_secret_name: hsm-pin
    _step_ca_prompted_secret_prompt: "Enter the HSM PIN for step-ca instance {{ _step_instance }}"
    _step_ca_prompted_secret_force_prompt: "{{ step_ca_force_prompt_hsm_pin | bool }}"
    _step_ca_prompted_secret_error_label: HSM PIN

- name: Ensure podman secret for admin password exists
  ansible.builtin.include_tasks: _ensure_prompted_secret.yaml
  vars:
    _step_ca_prompted_secret_name: admin-password
    _step_ca_prompted_secret_prompt: "Enter the admin password for step-ca instance {{ _step_instance }}"
    _step_ca_prompted_secret_force_prompt: "{{ step_ca_force_prompt_admin_password | bool }}"
    _step_ca_prompted_secret_error_label: admin password

- name: Gather local certificate checksums on Ansible controller
  become: false
  delegate_to: localhost
  ansible.builtin.stat:
    path: "{{ item.path }}"
    checksum_algorithm: sha256
  register: __step_ca_local_cert_checksums
  loop:
    - name: root
      path: "{{ step_ca_root_cert_local_path }}"
    - name: intermediate
      path: "{{ step_ca_intermediate_cert_local_path }}"

- name: Ensure podman secret for root cert exists
  ansible.builtin.include_tasks: _ensure_cert_secret.yaml
  vars:
    _step_ca_cert_secret_name: root-cert
    _step_ca_cert_secret_source_path: "{{ step_ca_root_cert_local_path }}"
    _step_ca_cert_secret_checksum: "{{ __step_ca_local_cert_checksums.results[0].stat.checksum }}"

- name: Ensure podman secret for intermediate cert exists
  ansible.builtin.include_tasks: _ensure_cert_secret.yaml
  vars:
    _step_ca_cert_secret_name: intermediate-cert
    _step_ca_cert_secret_source_path: "{{ step_ca_intermediate_cert_local_path }}"
    _step_ca_cert_secret_checksum: "{{ __step_ca_local_cert_checksums.results[1].stat.checksum }}"
